Iot Table/Node-red.txt
[{"id":"4171e49f.d2562c","type":"tab","label":"Flow 1"},{"id":"33839d0a.10bb0a","type":"tab","label":"Flow 2"},{"id":"b61a4e3.e76bfb","type":"tab","label":"Flow 3"},{"id":"757d7921.4fdeb","type":"arduino-board","z":"","device":"COM6"},{"id":"527404e7.4f9904","type":"ui_tab","z":"","name":"IIOT Motor Analysis","icon":"dashboard"},{"id":"ef806f12.b51768","type":"ui_group","z":"","name":"Right","tab":"527404e7.4f9904","order":3,"disp":true,"width":"6"},{"id":"6377b635.4a7cc8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ea4913","baseFont":"Impact,Impact,Charcoal,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#ea4913","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#f17f58","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ea4913","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Impact,Impact,Charcoal,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"45282196.4d2b48","type":"ui_group","z":"","name":"Power Analysis","tab":"527404e7.4f9904","order":2,"disp":true,"width":"7"},{"id":"7b122e98.0a8fe","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"be5412a2.99ee5","type":"ui_group","z":"","name":"Power On/Off","tab":"527404e7.4f9904","order":1,"disp":true,"width":"6"},{"id":"514cda34.cf20b4","type":"arduino-board","z":"","device":"COM6"},{"id":"abe10dce.39e928","type":"arduino in","z":"4171e49f.d2562c","name":"Accel","pin":"0","state":"ANALOG","arduino":"757d7921.4fdeb","x":129,"y":46,"wires":[["2472d9c0.c816ae"]]},{"id":"ba2f4d03.322ce","type":"arduino in","z":"4171e49f.d2562c","name":"Current","pin":"1","state":"ANALOG","arduino":"757d7921.4fdeb","x":145,"y":277,"wires":[["f5b0a5f4.aff768"]]},{"id":"2472d9c0.c816ae","type":"delay","z":"4171e49f.d2562c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":20,"wires":[["537a77ec.3e7e4","ad9fbe6c.b878f"]]},{"id":"ad9fbe6c.b878f","type":"ui_chart","z":"4171e49f.d2562c","name":"","group":"ef806f12.b51768","order":1,"width":"5","height":"5","label":"Vibrations","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"350","ymax":"450","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":738,"y":34,"wires":[[],[]]},{"id":"9029623c.9646e","type":"delay","z":"4171e49f.d2562c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":533.75,"y":253.25,"wires":[["28da8eef.32d572","412ade07.3b5728","4de8a0c1.c278b8","c49a7346.d2c81"]]},{"id":"28da8eef.32d572","type":"ui_chart","z":"4171e49f.d2562c","name":"","group":"45282196.4d2b48","order":1,"width":0,"height":0,"label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":963.666748046875,"y":240,"wires":[[],[]]},{"id":"f5b0a5f4.aff768","type":"range","z":"4171e49f.d2562c","minin":"0","maxin":"1024","minout":"0","maxout":"10","action":"scale","round":false,"name":"scale","x":305,"y":277,"wires":[["9029623c.9646e"]]},{"id":"db542760.516bf8","type":"ui_text","z":"4171e49f.d2562c","group":"45282196.4d2b48","order":3,"width":0,"height":0,"name":"","label":"RMS AC Current: ","format":"{{msg.payload}}","layout":"row-spread","x":1162.4286270141602,"y":290.85714626312256,"wires":[]},{"id":"412ade07.3b5728","type":"function","z":"4171e49f.d2562c","name":"check","func":"if(msg.payload > 0)\n{\n    msg.payload = Number((msg.payload).toFixed(3)) + \" (Amps)\";\n    return msg;\n}","outputs":1,"noerr":0,"x":889.4285583496094,"y":311.14284324645996,"wires":[["db542760.516bf8"]]},{"id":"537a77ec.3e7e4","type":"function","z":"4171e49f.d2562c","name":"","func":"if(msg.payload > 425 || msg.payload < 375)\n{\n    msg.payload = \"Please check your motor\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":607,"y":103,"wires":[["fef68863.0a1578","d0978675.ed1bd8"]]},{"id":"fef68863.0a1578","type":"e-mail","z":"4171e49f.d2562c","server":"smtp.gmail.com","port":"465","secure":true,"name":"gadhrria@mcmaster.ca","dname":"","x":964.5,"y":53,"wires":[]},{"id":"d0978675.ed1bd8","type":"ui_toast","z":"4171e49f.d2562c","position":"dialog","displayTime":"5","highlight":" #dc1818","outputs":1,"ok":"OK","cancel":"","topic":"MOTOR MALFUNCTION","name":"","x":964.1428337097168,"y":129.85714530944824,"wires":[[]]},{"id":"4de8a0c1.c278b8","type":"function","z":"4171e49f.d2562c","name":"","func":"msg.payload = (msg.payload * 120).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":405,"wires":[["f64deb4b.ab447"]]},{"id":"f3f3f37d.7e1258","type":"inject","z":"4171e49f.d2562c","name":"","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":true,"x":153.75,"y":412.5,"wires":[["2eeda7dc.a39688"]]},{"id":"2eeda7dc.a39688","type":"ui_gauge","z":"4171e49f.d2562c","name":"","group":"ef806f12.b51768","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature (Celsius)","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#6785cb","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":488.75,"y":412.5,"wires":[]},{"id":"b1acd0e.64e23b","type":"range","z":"4171e49f.d2562c","minin":"0","maxin":"1024","minout":"0","maxout":"10","action":"scale","round":false,"name":"scale","x":579.6666259765625,"y":56.00000762939453,"wires":[[]]},{"id":"f64deb4b.ab447","type":"ui_gauge","z":"4171e49f.d2562c","name":"","group":"45282196.4d2b48","order":2,"width":0,"height":0,"gtype":"gage","title":"Power Consumption","label":"Watts","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"25","x":931,"y":492,"wires":[]},{"id":"971e1d5f.27b66","type":"ui_button","z":"4171e49f.d2562c","name":"","group":"be5412a2.99ee5","order":1,"width":0,"height":0,"passthru":false,"label":"Power ON","color":"white","bgcolor":"Green","icon":"","payload":"[{\"id\": \"Allen Bradley.micro820.OVERRIDE\",\"v\": 1}]","payloadType":"str","topic":"","x":434,"y":530,"wires":[["f3260817.63cc08"]]},{"id":"f3260817.63cc08","type":"mqtt out","z":"4171e49f.d2562c","name":"","topic":"test2","qos":"","retain":"","broker":"7b122e98.0a8fe","x":701,"y":544,"wires":[]},{"id":"e5389b02.8298d8","type":"ui_button","z":"4171e49f.d2562c","name":"","group":"be5412a2.99ee5","order":1,"width":0,"height":0,"passthru":false,"label":"Power OFF","color":"white","bgcolor":"Red","icon":"","payload":"[{\"id\": \"Allen Bradley.micro820.OVERRIDE\",\"v\": 0}]","payloadType":"str","topic":"","x":427,"y":616,"wires":[["f3260817.63cc08"]]},{"id":"26902eb9.c633a2","type":"ui_toast","z":"4171e49f.d2562c","position":"top left","displayTime":"3","highlight":"Green","outputs":0,"ok":"OK","cancel":"","topic":"MOTOR IS NOW ON","name":"","x":1152.4285583496094,"y":441.14285945892334,"wires":[]},{"id":"c49a7346.d2c81","type":"function","z":"4171e49f.d2562c","name":"","func":"if(!context.value){\n    context.value =0;\n}\ncontext.value += 1;\nmsg.count = context.value;\nreturn msg;","outputs":1,"noerr":0,"x":938.5714645385742,"y":420.00001525878906,"wires":[[]]}]